* {
    padding: 0;
    margin: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}
body{
    font-family: serif;
}
html{
    font-size: 98%;
}

/* start header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    box-shadow: 3px 4px 10px 1px #aaa;
    height: 6rem;
    font-size: 1.8rem;
}
nav .logo img{
    width: 6rem;
    height: 5rem;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0 .8rem;
}
nav ul li a{
    font-size: 1.8rem;
}
/* end header */



/* <!--start body --> */
    table {
        text-align: center;
        width: 80%;
        margin:2rem auto;
    }
    table , th, td{
        border-collapse: collapse; 
        padding: 10px;
    }
 
    table th {
        color: #fff;
        font-size: 1.5rem;
        background: rgb(38, 201, 255);
    }
    table td {
        font-size: 1rem;
    }
    table tr:nth-child(odd){
        background: rgb(167, 163, 163);
    }
    table tr:nth-child(even){
        background: rgba(167, 163, 163, 0.637);
    }

/* <!--end body -->  */




/* <!-- start footer --> */


/* <!-- end footer --> */