* {
    padding: 0;
    margin: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}
body{
    font-family: serif;
}
html{
    font-size: 98%;
}

/* start header */


/* end header */



/* <!--start body --> */


/* <!--end body -->  */




/* <!-- start footer --> */


/* <!-- end footer --> */